
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: floralwhite;
}
#sokida{
    position:absolute;
    padding:10px 0;
    top:500px;
    left:575px;
    width:250px;
    height:40px;
    background-color:rgba(255, 217, 151, 0.906);
    text-align: center;
    border:2px solid black;
    
}
#sok{
    text-decoration: none;
    font-size: 30px;
}
#rak{
    left: 30px;
    position: absolute;
    text-align: center;
    border: 2px solid black;
    width: 475px;
    padding: 20px;
    background-color: rgba(255, 217, 151, 0.906);
}
.media{
    position:relative;
    padding:5px 0;
    margin-top:10px;
    left:30px;
    width:400px;
    height:35px;
    background-color:rgba(237, 231, 221, 0.52);
    border:2px solid black;
}
.medialon{
    position:relative;
    padding:5px 0;
    margin-top:10px;
    left:25px;
    width:200px;
    height:35px;
    background-color:rgba(237, 231, 221, 0.52);
    border:2px solid black;
}
.text{
    font-size: 25px;
}
.button{
    margin-top:20px;
    position: relative;
}
#button1{
    position:absolute;
    width:200px;
    height:125px;
    left:605px;
    text-align: center;
    background-color:rgba(255, 217, 151, 0.906);
    border:2px solid black;
}
#button2{
    position:absolute;
    width:200px;
    height:125px;
    left:605px;
    top:225px;
    text-align: center;
    background-color:rgba(255, 217, 151, 0.906);
    border:2px solid black;
}
#boklon{
    right: 750px;
    padding: 10px;
    width:250px;
    text-align: center;
    border: 2px solid black;
    position: absolute;
    background-color: rgba(255, 217, 151, 0.906);
}
#eboklon{
    right: 450px;
    padding: 10px;
    width:250px;
    text-align: center;
    border: 2px solid black;
    position: absolute;
    background-color: rgba(255, 217, 151, 0.906);
}
#filmlon{
    right: 150px;
    padding: 10px;
    width:250px;
    text-align: center;
    border: 2px solid black;
    position: absolute;
    background-color: rgba(255, 217, 151, 0.906);
}
#who{
    right: 50px;
    position: absolute;
    font-size: 50px;
}