
*{
    margin: 0px;
    padding: 0px;
}
#sokida{
    position:absolute;
    top:300px;
    right:50px;
    width:250px;
    height:50px;
    background-color:rgb(170, 152, 152);
    text-align: center;
    
}
#sok{
    color:rgb(243, 180, 176);
    font-size: 30px;
}
#rak{
    left: 30px;
    position: absolute;
    text-align: center;
    border: 2px solid black;
    width: 475px;
    padding: 20px;
}
#lonbutton{
    left: 600px;
    position: absolute;
}
#gebutton{
    left: 600px;
    top: 150px;
    position: absolute;
}
#boklon{
    right: 950px;
    padding: 10px;
    text-align: center;
    border: 2px solid black;
    position: absolute;
}
#eboklon{
    right: 770px;
    padding: 10px;
    text-align: center;
    border: 2px solid black;
    position: absolute;
}
#filmlon{
    right: 590px;
    padding: 10px;
    text-align: center;
    border: 2px solid black;
    position: absolute;
}
#who{
    right: 50px;
    position: absolute;
    font-size: 50px;
}